# Dataset extraction - iPython
###### Yacine MOKHTARI

## 1. soc-sign-bitcoinalpha
###### [link](https://snap.stanford.edu/data/soc-sign-bitcoin-alpha.html)

In [11]:
import pandas as pd

PATH = "./"
FILENAME  = "soc-sign-bitcoinalpha.csv"

COL_NAMES = ["SOURCE", "TARGET", "RATING", "TIME"]
COL_TO_DROP = ["TIME"]

ssb_raw = pd.read_csv(PATH+FILENAME, sep=",", header=None, names=COL_NAMES)
ssb_raw.drop(columns = COL_TO_DROP, inplace=True)
ssb_raw.head(5)

   SOURCE  TARGET  RATING
0    7188       1      10
1     430       1      10
2    3134       1      10
3    3026       1      10
4    3010       1      10

In [44]:
ssb_target_vc = ssb_raw.TARGET.value_counts()
ssb_source_vc = ssb_raw.SOURCE.value_counts()

In [47]:
ssb_source_vc.sort_index()

1       490
2       195
3       243
4       215
5       174
       ...
7600      9
7601     11
7602     13
7603     66
7604     21
Name: SOURCE, Length: 3286, dtype: int64

In [61]:
7604 in ssb_raw.SOURCE.values

True

In [55]:
7673 in ssb_source_vc.index

False

In [57]:
ssb_raw[ssb_raw.SOURCE == 7673]

Empty DataFrame
Columns: [SOURCE, TARGET, RATING]
Index: []